In [1]:
{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 1,
   "id": "db163187-9b92-49de-b975-17ece31d0235",
   "metadata": {},
   "outputs": [],
   "source": [
    "#pip install yahoo-finance\n",
    "\n",
    "import os\n",
    "import numpy as np \n",
    "import pandas as pd \n",
    "import yfinance as yf\n",
    "import requests\n",
    "import alpaca_trade_api as tradeapi"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 65,
   "id": "81980d5a-3cd7-4bbd-bc26-631b4153de20",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Symbol</th>\n",
       "      <th>Name</th>\n",
       "      <th>Price (Intraday)</th>\n",
       "      <th>Change</th>\n",
       "      <th>% Change</th>\n",
       "      <th>Market Cap</th>\n",
       "      <th>Volume in Currency (Since 0:00 UTC)</th>\n",
       "      <th>Volume in Currency (24Hr)</th>\n",
       "      <th>Total Volume All Currencies (24Hr)</th>\n",
       "      <th>Circulating Supply</th>\n",
       "      <th>52 Week Range</th>\n",
       "      <th>Day Chart</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>BTC-USD</td>\n",
       "      <td>Bitcoin USD</td>\n",
       "      <td>35992.5900</td>\n",
       "      <td>-3628.1600</td>\n",
       "      <td>-9.16%</td>\n",
       "      <td>685.014B</td>\n",
       "      <td>44.895B</td>\n",
       "      <td>44.895B</td>\n",
       "      <td>44.895B</td>\n",
       "      <td>19.032M</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>ETH-USD</td>\n",
       "      <td>Ethereum USD</td>\n",
       "      <td>2710.2700</td>\n",
       "      <td>-225.5600</td>\n",
       "      <td>-7.68%</td>\n",
       "      <td>327.035B</td>\n",
       "      <td>23.819B</td>\n",
       "      <td>23.819B</td>\n",
       "      <td>23.819B</td>\n",
       "      <td>120.665M</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>USDT-USD</td>\n",
       "      <td>Tether USD</td>\n",
       "      <td>1.0000</td>\n",
       "      <td>-0.0001</td>\n",
       "      <td>-0.01%</td>\n",
       "      <td>83.239B</td>\n",
       "      <td>88.401B</td>\n",
       "      <td>88.401B</td>\n",
       "      <td>88.401B</td>\n",
       "      <td>83.237B</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>BNB-USD</td>\n",
       "      <td>Binance Coin USD</td>\n",
       "      <td>374.0600</td>\n",
       "      <td>-27.4700</td>\n",
       "      <td>-6.84%</td>\n",
       "      <td>61.075B</td>\n",
       "      <td>2.435B</td>\n",
       "      <td>2.435B</td>\n",
       "      <td>2.435B</td>\n",
       "      <td>163.277M</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>USDC-USD</td>\n",
       "      <td>USD Coin USD</td>\n",
       "      <td>1.0001</td>\n",
       "      <td>0.0002</td>\n",
       "      <td>+0.02%</td>\n",
       "      <td>48.845B</td>\n",
       "      <td>5.439B</td>\n",
       "      <td>5.439B</td>\n",
       "      <td>5.439B</td>\n",
       "      <td>48.84B</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "     Symbol              Name  Price (Intraday)     Change % Change  \\\n",
       "0   BTC-USD       Bitcoin USD        35992.5900 -3628.1600   -9.16%   \n",
       "1   ETH-USD      Ethereum USD         2710.2700  -225.5600   -7.68%   \n",
       "2  USDT-USD        Tether USD            1.0000    -0.0001   -0.01%   \n",
       "3   BNB-USD  Binance Coin USD          374.0600   -27.4700   -6.84%   \n",
       "4  USDC-USD      USD Coin USD            1.0001     0.0002   +0.02%   \n",
       "\n",
       "  Market Cap Volume in Currency (Since 0:00 UTC) Volume in Currency (24Hr)  \\\n",
       "0   685.014B                             44.895B                   44.895B   \n",
       "1   327.035B                             23.819B                   23.819B   \n",
       "2    83.239B                             88.401B                   88.401B   \n",
       "3    61.075B                              2.435B                    2.435B   \n",
       "4    48.845B                              5.439B                    5.439B   \n",
       "\n",
       "  Total Volume All Currencies (24Hr) Circulating Supply  52 Week Range  \\\n",
       "0                            44.895B            19.032M            NaN   \n",
       "1                            23.819B           120.665M            NaN   \n",
       "2                            88.401B            83.237B            NaN   \n",
       "3                             2.435B           163.277M            NaN   \n",
       "4                             5.439B             48.84B            NaN   \n",
       "\n",
       "   Day Chart  \n",
       "0        NaN  \n",
       "1        NaN  \n",
       "2        NaN  \n",
       "3        NaN  \n",
       "4        NaN  "
      ]
     },
     "execution_count": 65,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# retrieving yahoo indices for cryptocurrency\n",
    "crypto_indices = pd.read_html(requests.get('https://finance.yahoo.com/cryptocurrencies').text)\n",
    "major_crypto = crypto_indices[0]\n",
    "major_crypto.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 66,
   "id": "c19545e1-8d94-4d4e-b8f6-1f227bbb89df",
   "metadata": {},
   "outputs": [],
   "source": [
    "#Collecting BTC-USD\n",
    "btc_data = yf.Ticker('BTC-USD')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 67,
   "id": "07914f7d-119d-434f-bf9a-098591fd6f48",
   "metadata": {},
   "outputs": [],
   "source": [
    "#Creating BTC history data for 2 months\n",
    "btc_df = btc_data.history(period='2mo', start='2022-02-05', end='2022-05-05')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 68,
   "id": "80f2d998-d21d-48cf-b959-9582897cc4cc",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "BTC-USD data frame from: April 20, 20220 - May 05, 2022\n",
      "-----------------------------------------------------\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Open</th>\n",
       "      <th>High</th>\n",
       "      <th>Low</th>\n",
       "      <th>Close</th>\n",
       "      <th>Volume</th>\n",
       "      <th>Dividends</th>\n",
       "      <th>Stock Splits</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Date</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>2022-02-05</th>\n",
       "      <td>41501.480469</td>\n",
       "      <td>41847.164062</td>\n",
       "      <td>41038.097656</td>\n",
       "      <td>41441.164062</td>\n",
       "      <td>19652846215</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-06</th>\n",
       "      <td>41441.121094</td>\n",
       "      <td>42500.785156</td>\n",
       "      <td>41244.906250</td>\n",
       "      <td>42412.433594</td>\n",
       "      <td>16142097334</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-07</th>\n",
       "      <td>42406.781250</td>\n",
       "      <td>44401.863281</td>\n",
       "      <td>41748.156250</td>\n",
       "      <td>43840.285156</td>\n",
       "      <td>28641855926</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-08</th>\n",
       "      <td>43854.652344</td>\n",
       "      <td>45293.867188</td>\n",
       "      <td>42807.835938</td>\n",
       "      <td>44118.445312</td>\n",
       "      <td>33079398868</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-09</th>\n",
       "      <td>44096.703125</td>\n",
       "      <td>44727.800781</td>\n",
       "      <td>43232.968750</td>\n",
       "      <td>44338.796875</td>\n",
       "      <td>23245887300</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                    Open          High           Low         Close  \\\n",
       "Date                                                                 \n",
       "2022-02-05  41501.480469  41847.164062  41038.097656  41441.164062   \n",
       "2022-02-06  41441.121094  42500.785156  41244.906250  42412.433594   \n",
       "2022-02-07  42406.781250  44401.863281  41748.156250  43840.285156   \n",
       "2022-02-08  43854.652344  45293.867188  42807.835938  44118.445312   \n",
       "2022-02-09  44096.703125  44727.800781  43232.968750  44338.796875   \n",
       "\n",
       "                 Volume  Dividends  Stock Splits  \n",
       "Date                                              \n",
       "2022-02-05  19652846215          0             0  \n",
       "2022-02-06  16142097334          0             0  \n",
       "2022-02-07  28641855926          0             0  \n",
       "2022-02-08  33079398868          0             0  \n",
       "2022-02-09  23245887300          0             0  "
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Open</th>\n",
       "      <th>High</th>\n",
       "      <th>Low</th>\n",
       "      <th>Close</th>\n",
       "      <th>Volume</th>\n",
       "      <th>Dividends</th>\n",
       "      <th>Stock Splits</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Date</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>2022-05-01</th>\n",
       "      <td>37713.265625</td>\n",
       "      <td>38627.859375</td>\n",
       "      <td>37585.789062</td>\n",
       "      <td>38469.093750</td>\n",
       "      <td>27002760110</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-02</th>\n",
       "      <td>38472.187500</td>\n",
       "      <td>39074.972656</td>\n",
       "      <td>38156.562500</td>\n",
       "      <td>38529.328125</td>\n",
       "      <td>32922642426</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-03</th>\n",
       "      <td>38528.109375</td>\n",
       "      <td>38629.996094</td>\n",
       "      <td>37585.621094</td>\n",
       "      <td>37750.453125</td>\n",
       "      <td>27326943244</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-04</th>\n",
       "      <td>37748.011719</td>\n",
       "      <td>39902.949219</td>\n",
       "      <td>37732.058594</td>\n",
       "      <td>39698.371094</td>\n",
       "      <td>36754404490</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-05</th>\n",
       "      <td>39695.746094</td>\n",
       "      <td>39789.281250</td>\n",
       "      <td>35856.515625</td>\n",
       "      <td>36575.140625</td>\n",
       "      <td>43106256317</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                    Open          High           Low         Close  \\\n",
       "Date                                                                 \n",
       "2022-05-01  37713.265625  38627.859375  37585.789062  38469.093750   \n",
       "2022-05-02  38472.187500  39074.972656  38156.562500  38529.328125   \n",
       "2022-05-03  38528.109375  38629.996094  37585.621094  37750.453125   \n",
       "2022-05-04  37748.011719  39902.949219  37732.058594  39698.371094   \n",
       "2022-05-05  39695.746094  39789.281250  35856.515625  36575.140625   \n",
       "\n",
       "                 Volume  Dividends  Stock Splits  \n",
       "Date                                              \n",
       "2022-05-01  27002760110          0             0  \n",
       "2022-05-02  32922642426          0             0  \n",
       "2022-05-03  27326943244          0             0  \n",
       "2022-05-04  36754404490          0             0  \n",
       "2022-05-05  43106256317          0             0  "
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "source": [
    "# View header and tail of BTC for 2 months\n",
    "print(\"BTC-USD data frame from: April 20, 20220 - May 05, 2022\")\n",
    "print(\"-----------------------------------------------------\")\n",
    "display(btc_df.head())\n",
    "display(btc_df.tail())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 69,
   "id": "dbaa3447-9970-4cb6-a58d-5512d8bf0286",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "BTC-USD update:\n",
      "---------------\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Open</th>\n",
       "      <th>High</th>\n",
       "      <th>Low</th>\n",
       "      <th>Close</th>\n",
       "      <th>Volume</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Date</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>2022-02-05</th>\n",
       "      <td>41501.480469</td>\n",
       "      <td>41847.164062</td>\n",
       "      <td>41038.097656</td>\n",
       "      <td>41441.164062</td>\n",
       "      <td>19652846215</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-06</th>\n",
       "      <td>41441.121094</td>\n",
       "      <td>42500.785156</td>\n",
       "      <td>41244.906250</td>\n",
       "      <td>42412.433594</td>\n",
       "      <td>16142097334</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-07</th>\n",
       "      <td>42406.781250</td>\n",
       "      <td>44401.863281</td>\n",
       "      <td>41748.156250</td>\n",
       "      <td>43840.285156</td>\n",
       "      <td>28641855926</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-08</th>\n",
       "      <td>43854.652344</td>\n",
       "      <td>45293.867188</td>\n",
       "      <td>42807.835938</td>\n",
       "      <td>44118.445312</td>\n",
       "      <td>33079398868</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-09</th>\n",
       "      <td>44096.703125</td>\n",
       "      <td>44727.800781</td>\n",
       "      <td>43232.968750</td>\n",
       "      <td>44338.796875</td>\n",
       "      <td>23245887300</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-01</th>\n",
       "      <td>37713.265625</td>\n",
       "      <td>38627.859375</td>\n",
       "      <td>37585.789062</td>\n",
       "      <td>38469.093750</td>\n",
       "      <td>27002760110</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-02</th>\n",
       "      <td>38472.187500</td>\n",
       "      <td>39074.972656</td>\n",
       "      <td>38156.562500</td>\n",
       "      <td>38529.328125</td>\n",
       "      <td>32922642426</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-03</th>\n",
       "      <td>38528.109375</td>\n",
       "      <td>38629.996094</td>\n",
       "      <td>37585.621094</td>\n",
       "      <td>37750.453125</td>\n",
       "      <td>27326943244</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-04</th>\n",
       "      <td>37748.011719</td>\n",
       "      <td>39902.949219</td>\n",
       "      <td>37732.058594</td>\n",
       "      <td>39698.371094</td>\n",
       "      <td>36754404490</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-05</th>\n",
       "      <td>39695.746094</td>\n",
       "      <td>39789.281250</td>\n",
       "      <td>35856.515625</td>\n",
       "      <td>36575.140625</td>\n",
       "      <td>43106256317</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>90 rows × 5 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "                    Open          High           Low         Close  \\\n",
       "Date                                                                 \n",
       "2022-02-05  41501.480469  41847.164062  41038.097656  41441.164062   \n",
       "2022-02-06  41441.121094  42500.785156  41244.906250  42412.433594   \n",
       "2022-02-07  42406.781250  44401.863281  41748.156250  43840.285156   \n",
       "2022-02-08  43854.652344  45293.867188  42807.835938  44118.445312   \n",
       "2022-02-09  44096.703125  44727.800781  43232.968750  44338.796875   \n",
       "...                  ...           ...           ...           ...   \n",
       "2022-05-01  37713.265625  38627.859375  37585.789062  38469.093750   \n",
       "2022-05-02  38472.187500  39074.972656  38156.562500  38529.328125   \n",
       "2022-05-03  38528.109375  38629.996094  37585.621094  37750.453125   \n",
       "2022-05-04  37748.011719  39902.949219  37732.058594  39698.371094   \n",
       "2022-05-05  39695.746094  39789.281250  35856.515625  36575.140625   \n",
       "\n",
       "                 Volume  \n",
       "Date                     \n",
       "2022-02-05  19652846215  \n",
       "2022-02-06  16142097334  \n",
       "2022-02-07  28641855926  \n",
       "2022-02-08  33079398868  \n",
       "2022-02-09  23245887300  \n",
       "...                 ...  \n",
       "2022-05-01  27002760110  \n",
       "2022-05-02  32922642426  \n",
       "2022-05-03  27326943244  \n",
       "2022-05-04  36754404490  \n",
       "2022-05-05  43106256317  \n",
       "\n",
       "[90 rows x 5 columns]"
      ]
     },
     "execution_count": 69,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Dropping last 2 columns of BTC \n",
    "btc_new_df = btc_df.drop(columns=['Stock Splits','Dividends'], axis=1)\n",
    "print(\"BTC-USD update:\")\n",
    "print(\"---------------\")\n",
    "btc_new_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 70,
   "id": "e7ea5828-df75-42c5-83e2-17791f19d3d3",
   "metadata": {},
   "outputs": [],
   "source": [
    "#csv BTC-USD file\n",
    "btc_new_df.to_csv('BTC-USD.csv',float_format='%.2f') "
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 71,
   "id": "7387c66e-51da-4cd0-8bd6-bd125141306b",
   "metadata": {},
   "outputs": [],
   "source": [
    "# retrieving ETH-USD ticker\n",
    "eth_data = yf.Ticker('ETH-USD')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 72,
   "id": "675aa43b-010b-4d6c-9ae5-234283466f6a",
   "metadata": {},
   "outputs": [],
   "source": [
    "#Creating ETH history data for 2 months\n",
    "eth_df = eth_data.history(period='2mo', start='2022-02-05', end='2022-05-05')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 73,
   "id": "c4fedc8d-ed36-40a8-8f1b-8b1854ecacbe",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "ETH-USD data frame from: April 20, 20220 - May 05, 2022\n",
      "-----------------------------------------------------\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Open</th>\n",
       "      <th>High</th>\n",
       "      <th>Low</th>\n",
       "      <th>Close</th>\n",
       "      <th>Volume</th>\n",
       "      <th>Dividends</th>\n",
       "      <th>Stock Splits</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Date</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>2022-02-05</th>\n",
       "      <td>2984.446045</td>\n",
       "      <td>3054.130127</td>\n",
       "      <td>2966.781006</td>\n",
       "      <td>3014.648193</td>\n",
       "      <td>13102093957</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-06</th>\n",
       "      <td>3014.959717</td>\n",
       "      <td>3061.261230</td>\n",
       "      <td>2965.429932</td>\n",
       "      <td>3057.476074</td>\n",
       "      <td>9466018022</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-07</th>\n",
       "      <td>3057.422119</td>\n",
       "      <td>3182.528320</td>\n",
       "      <td>3002.927002</td>\n",
       "      <td>3142.470703</td>\n",
       "      <td>15197063785</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-08</th>\n",
       "      <td>3143.008545</td>\n",
       "      <td>3219.472656</td>\n",
       "      <td>3038.377930</td>\n",
       "      <td>3122.608643</td>\n",
       "      <td>17136080906</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-09</th>\n",
       "      <td>3121.182617</td>\n",
       "      <td>3263.155762</td>\n",
       "      <td>3063.160156</td>\n",
       "      <td>3239.457031</td>\n",
       "      <td>13951308490</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                   Open         High          Low        Close       Volume  \\\n",
       "Date                                                                          \n",
       "2022-02-05  2984.446045  3054.130127  2966.781006  3014.648193  13102093957   \n",
       "2022-02-06  3014.959717  3061.261230  2965.429932  3057.476074   9466018022   \n",
       "2022-02-07  3057.422119  3182.528320  3002.927002  3142.470703  15197063785   \n",
       "2022-02-08  3143.008545  3219.472656  3038.377930  3122.608643  17136080906   \n",
       "2022-02-09  3121.182617  3263.155762  3063.160156  3239.457031  13951308490   \n",
       "\n",
       "            Dividends  Stock Splits  \n",
       "Date                                 \n",
       "2022-02-05          0             0  \n",
       "2022-02-06          0             0  \n",
       "2022-02-07          0             0  \n",
       "2022-02-08          0             0  \n",
       "2022-02-09          0             0  "
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Open</th>\n",
       "      <th>High</th>\n",
       "      <th>Low</th>\n",
       "      <th>Close</th>\n",
       "      <th>Volume</th>\n",
       "      <th>Dividends</th>\n",
       "      <th>Stock Splits</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Date</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>2022-05-01</th>\n",
       "      <td>2729.994141</td>\n",
       "      <td>2838.704346</td>\n",
       "      <td>2728.078857</td>\n",
       "      <td>2827.756104</td>\n",
       "      <td>15332730152</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-02</th>\n",
       "      <td>2827.614014</td>\n",
       "      <td>2874.145996</td>\n",
       "      <td>2785.522949</td>\n",
       "      <td>2857.410400</td>\n",
       "      <td>18609741545</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-03</th>\n",
       "      <td>2857.152344</td>\n",
       "      <td>2859.193359</td>\n",
       "      <td>2762.118652</td>\n",
       "      <td>2783.476318</td>\n",
       "      <td>13026093219</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-04</th>\n",
       "      <td>2783.131104</td>\n",
       "      <td>2956.686768</td>\n",
       "      <td>2779.273682</td>\n",
       "      <td>2940.644775</td>\n",
       "      <td>18186749944</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-05</th>\n",
       "      <td>2940.226562</td>\n",
       "      <td>2948.960693</td>\n",
       "      <td>2704.916260</td>\n",
       "      <td>2749.213135</td>\n",
       "      <td>22642925048</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                   Open         High          Low        Close       Volume  \\\n",
       "Date                                                                          \n",
       "2022-05-01  2729.994141  2838.704346  2728.078857  2827.756104  15332730152   \n",
       "2022-05-02  2827.614014  2874.145996  2785.522949  2857.410400  18609741545   \n",
       "2022-05-03  2857.152344  2859.193359  2762.118652  2783.476318  13026093219   \n",
       "2022-05-04  2783.131104  2956.686768  2779.273682  2940.644775  18186749944   \n",
       "2022-05-05  2940.226562  2948.960693  2704.916260  2749.213135  22642925048   \n",
       "\n",
       "            Dividends  Stock Splits  \n",
       "Date                                 \n",
       "2022-05-01          0             0  \n",
       "2022-05-02          0             0  \n",
       "2022-05-03          0             0  \n",
       "2022-05-04          0             0  \n",
       "2022-05-05          0             0  "
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "source": [
    "# View header and tail of ETH for 2 months\n",
    "print(\"ETH-USD data frame from: April 20, 20220 - May 05, 2022\")\n",
    "print(\"-----------------------------------------------------\")\n",
    "display(eth_df.head())\n",
    "display(eth_df.tail())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 74,
   "id": "1f85a1cd-b554-4515-b974-5dff7d35f8b4",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "ETH-USD update:\n",
      "---------------\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Open</th>\n",
       "      <th>High</th>\n",
       "      <th>Low</th>\n",
       "      <th>Close</th>\n",
       "      <th>Volume</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Date</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>2022-02-05</th>\n",
       "      <td>2984.446045</td>\n",
       "      <td>3054.130127</td>\n",
       "      <td>2966.781006</td>\n",
       "      <td>3014.648193</td>\n",
       "      <td>13102093957</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-06</th>\n",
       "      <td>3014.959717</td>\n",
       "      <td>3061.261230</td>\n",
       "      <td>2965.429932</td>\n",
       "      <td>3057.476074</td>\n",
       "      <td>9466018022</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-07</th>\n",
       "      <td>3057.422119</td>\n",
       "      <td>3182.528320</td>\n",
       "      <td>3002.927002</td>\n",
       "      <td>3142.470703</td>\n",
       "      <td>15197063785</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-08</th>\n",
       "      <td>3143.008545</td>\n",
       "      <td>3219.472656</td>\n",
       "      <td>3038.377930</td>\n",
       "      <td>3122.608643</td>\n",
       "      <td>17136080906</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-09</th>\n",
       "      <td>3121.182617</td>\n",
       "      <td>3263.155762</td>\n",
       "      <td>3063.160156</td>\n",
       "      <td>3239.457031</td>\n",
       "      <td>13951308490</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-01</th>\n",
       "      <td>2729.994141</td>\n",
       "      <td>2838.704346</td>\n",
       "      <td>2728.078857</td>\n",
       "      <td>2827.756104</td>\n",
       "      <td>15332730152</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-02</th>\n",
       "      <td>2827.614014</td>\n",
       "      <td>2874.145996</td>\n",
       "      <td>2785.522949</td>\n",
       "      <td>2857.410400</td>\n",
       "      <td>18609741545</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-03</th>\n",
       "      <td>2857.152344</td>\n",
       "      <td>2859.193359</td>\n",
       "      <td>2762.118652</td>\n",
       "      <td>2783.476318</td>\n",
       "      <td>13026093219</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-04</th>\n",
       "      <td>2783.131104</td>\n",
       "      <td>2956.686768</td>\n",
       "      <td>2779.273682</td>\n",
       "      <td>2940.644775</td>\n",
       "      <td>18186749944</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-05</th>\n",
       "      <td>2940.226562</td>\n",
       "      <td>2948.960693</td>\n",
       "      <td>2704.916260</td>\n",
       "      <td>2749.213135</td>\n",
       "      <td>22642925048</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>90 rows × 5 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "                   Open         High          Low        Close       Volume\n",
       "Date                                                                       \n",
       "2022-02-05  2984.446045  3054.130127  2966.781006  3014.648193  13102093957\n",
       "2022-02-06  3014.959717  3061.261230  2965.429932  3057.476074   9466018022\n",
       "2022-02-07  3057.422119  3182.528320  3002.927002  3142.470703  15197063785\n",
       "2022-02-08  3143.008545  3219.472656  3038.377930  3122.608643  17136080906\n",
       "2022-02-09  3121.182617  3263.155762  3063.160156  3239.457031  13951308490\n",
       "...                 ...          ...          ...          ...          ...\n",
       "2022-05-01  2729.994141  2838.704346  2728.078857  2827.756104  15332730152\n",
       "2022-05-02  2827.614014  2874.145996  2785.522949  2857.410400  18609741545\n",
       "2022-05-03  2857.152344  2859.193359  2762.118652  2783.476318  13026093219\n",
       "2022-05-04  2783.131104  2956.686768  2779.273682  2940.644775  18186749944\n",
       "2022-05-05  2940.226562  2948.960693  2704.916260  2749.213135  22642925048\n",
       "\n",
       "[90 rows x 5 columns]"
      ]
     },
     "execution_count": 74,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Dropping last 2 columns of ETH \n",
    "eth_new_df = eth_df.drop(columns=['Stock Splits','Dividends'], axis=1)\n",
    "print(\"ETH-USD update:\")\n",
    "print(\"---------------\")\n",
    "eth_new_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 75,
   "id": "b3a06858-1eb1-4dd4-ab74-14f13b5884ee",
   "metadata": {},
   "outputs": [],
   "source": [
    "# ETH-USD csv file\n",
    "eth_new_df.to_csv('ETH-USD.csv',float_format='%.2f') "
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 76,
   "id": "67a907f4-d576-4be9-9798-331a5811d132",
   "metadata": {},
   "outputs": [],
   "source": [
    "# retrieve DOGE-USD ticker\n",
    "doge_data = yf.Ticker('DOGE-USD')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 77,
   "id": "fcd2e004-b039-4844-be55-d1b1422e5b91",
   "metadata": {},
   "outputs": [],
   "source": [
    "#Creating DOGE history data for 2 months\n",
    "doge_df = doge_data.history(period='2mo', start='2022-02-05', end='2022-05-05')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 78,
   "id": "5b255a30-a62b-4a18-be09-95bfa2d04d22",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "ETH-USD data frame from: April 20, 20220 - May 05, 2022\n",
      "-----------------------------------------------------\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Open</th>\n",
       "      <th>High</th>\n",
       "      <th>Low</th>\n",
       "      <th>Close</th>\n",
       "      <th>Volume</th>\n",
       "      <th>Dividends</th>\n",
       "      <th>Stock Splits</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Date</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>2022-02-05</th>\n",
       "      <td>0.147533</td>\n",
       "      <td>0.150140</td>\n",
       "      <td>0.145410</td>\n",
       "      <td>0.147141</td>\n",
       "      <td>587009429</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-06</th>\n",
       "      <td>0.147140</td>\n",
       "      <td>0.154775</td>\n",
       "      <td>0.145258</td>\n",
       "      <td>0.153770</td>\n",
       "      <td>757004142</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-07</th>\n",
       "      <td>0.153803</td>\n",
       "      <td>0.171586</td>\n",
       "      <td>0.151741</td>\n",
       "      <td>0.165578</td>\n",
       "      <td>1791358822</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-08</th>\n",
       "      <td>0.165606</td>\n",
       "      <td>0.169145</td>\n",
       "      <td>0.153709</td>\n",
       "      <td>0.158405</td>\n",
       "      <td>1190116000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-09</th>\n",
       "      <td>0.158357</td>\n",
       "      <td>0.160704</td>\n",
       "      <td>0.155035</td>\n",
       "      <td>0.159123</td>\n",
       "      <td>778670798</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                Open      High       Low     Close      Volume  Dividends  \\\n",
       "Date                                                                        \n",
       "2022-02-05  0.147533  0.150140  0.145410  0.147141   587009429          0   \n",
       "2022-02-06  0.147140  0.154775  0.145258  0.153770   757004142          0   \n",
       "2022-02-07  0.153803  0.171586  0.151741  0.165578  1791358822          0   \n",
       "2022-02-08  0.165606  0.169145  0.153709  0.158405  1190116000          0   \n",
       "2022-02-09  0.158357  0.160704  0.155035  0.159123   778670798          0   \n",
       "\n",
       "            Stock Splits  \n",
       "Date                      \n",
       "2022-02-05             0  \n",
       "2022-02-06             0  \n",
       "2022-02-07             0  \n",
       "2022-02-08             0  \n",
       "2022-02-09             0  "
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Open</th>\n",
       "      <th>High</th>\n",
       "      <th>Low</th>\n",
       "      <th>Close</th>\n",
       "      <th>Volume</th>\n",
       "      <th>Dividends</th>\n",
       "      <th>Stock Splits</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Date</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>2022-05-01</th>\n",
       "      <td>0.127589</td>\n",
       "      <td>0.134821</td>\n",
       "      <td>0.127533</td>\n",
       "      <td>0.132773</td>\n",
       "      <td>991710768</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-02</th>\n",
       "      <td>0.132794</td>\n",
       "      <td>0.133783</td>\n",
       "      <td>0.128300</td>\n",
       "      <td>0.130938</td>\n",
       "      <td>769062732</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-03</th>\n",
       "      <td>0.130935</td>\n",
       "      <td>0.131833</td>\n",
       "      <td>0.127399</td>\n",
       "      <td>0.129520</td>\n",
       "      <td>555706527</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-04</th>\n",
       "      <td>0.129514</td>\n",
       "      <td>0.135809</td>\n",
       "      <td>0.129313</td>\n",
       "      <td>0.135809</td>\n",
       "      <td>838050627</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-05</th>\n",
       "      <td>0.135813</td>\n",
       "      <td>0.137313</td>\n",
       "      <td>0.126697</td>\n",
       "      <td>0.128430</td>\n",
       "      <td>1258066467</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                Open      High       Low     Close      Volume  Dividends  \\\n",
       "Date                                                                        \n",
       "2022-05-01  0.127589  0.134821  0.127533  0.132773   991710768          0   \n",
       "2022-05-02  0.132794  0.133783  0.128300  0.130938   769062732          0   \n",
       "2022-05-03  0.130935  0.131833  0.127399  0.129520   555706527          0   \n",
       "2022-05-04  0.129514  0.135809  0.129313  0.135809   838050627          0   \n",
       "2022-05-05  0.135813  0.137313  0.126697  0.128430  1258066467          0   \n",
       "\n",
       "            Stock Splits  \n",
       "Date                      \n",
       "2022-05-01             0  \n",
       "2022-05-02             0  \n",
       "2022-05-03             0  \n",
       "2022-05-04             0  \n",
       "2022-05-05             0  "
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "source": [
    "# View header and tail of DOGE for 2 months\n",
    "print(\"ETH-USD data frame from: April 20, 20220 - May 05, 2022\")\n",
    "print(\"-----------------------------------------------------\")\n",
    "display(doge_df.head())\n",
    "display(doge_df.tail())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 79,
   "id": "07604b91-beda-46e3-a7f7-1a9f165f5948",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "DOGE-USD update:\n",
      "---------------\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Open</th>\n",
       "      <th>High</th>\n",
       "      <th>Low</th>\n",
       "      <th>Close</th>\n",
       "      <th>Volume</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Date</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>2022-02-05</th>\n",
       "      <td>0.147533</td>\n",
       "      <td>0.150140</td>\n",
       "      <td>0.145410</td>\n",
       "      <td>0.147141</td>\n",
       "      <td>587009429</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-06</th>\n",
       "      <td>0.147140</td>\n",
       "      <td>0.154775</td>\n",
       "      <td>0.145258</td>\n",
       "      <td>0.153770</td>\n",
       "      <td>757004142</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-07</th>\n",
       "      <td>0.153803</td>\n",
       "      <td>0.171586</td>\n",
       "      <td>0.151741</td>\n",
       "      <td>0.165578</td>\n",
       "      <td>1791358822</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-08</th>\n",
       "      <td>0.165606</td>\n",
       "      <td>0.169145</td>\n",
       "      <td>0.153709</td>\n",
       "      <td>0.158405</td>\n",
       "      <td>1190116000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-09</th>\n",
       "      <td>0.158357</td>\n",
       "      <td>0.160704</td>\n",
       "      <td>0.155035</td>\n",
       "      <td>0.159123</td>\n",
       "      <td>778670798</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-01</th>\n",
       "      <td>0.127589</td>\n",
       "      <td>0.134821</td>\n",
       "      <td>0.127533</td>\n",
       "      <td>0.132773</td>\n",
       "      <td>991710768</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-02</th>\n",
       "      <td>0.132794</td>\n",
       "      <td>0.133783</td>\n",
       "      <td>0.128300</td>\n",
       "      <td>0.130938</td>\n",
       "      <td>769062732</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-03</th>\n",
       "      <td>0.130935</td>\n",
       "      <td>0.131833</td>\n",
       "      <td>0.127399</td>\n",
       "      <td>0.129520</td>\n",
       "      <td>555706527</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-04</th>\n",
       "      <td>0.129514</td>\n",
       "      <td>0.135809</td>\n",
       "      <td>0.129313</td>\n",
       "      <td>0.135809</td>\n",
       "      <td>838050627</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-05</th>\n",
       "      <td>0.135813</td>\n",
       "      <td>0.137313</td>\n",
       "      <td>0.126697</td>\n",
       "      <td>0.128430</td>\n",
       "      <td>1258066467</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>90 rows × 5 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "                Open      High       Low     Close      Volume\n",
       "Date                                                          \n",
       "2022-02-05  0.147533  0.150140  0.145410  0.147141   587009429\n",
       "2022-02-06  0.147140  0.154775  0.145258  0.153770   757004142\n",
       "2022-02-07  0.153803  0.171586  0.151741  0.165578  1791358822\n",
       "2022-02-08  0.165606  0.169145  0.153709  0.158405  1190116000\n",
       "2022-02-09  0.158357  0.160704  0.155035  0.159123   778670798\n",
       "...              ...       ...       ...       ...         ...\n",
       "2022-05-01  0.127589  0.134821  0.127533  0.132773   991710768\n",
       "2022-05-02  0.132794  0.133783  0.128300  0.130938   769062732\n",
       "2022-05-03  0.130935  0.131833  0.127399  0.129520   555706527\n",
       "2022-05-04  0.129514  0.135809  0.129313  0.135809   838050627\n",
       "2022-05-05  0.135813  0.137313  0.126697  0.128430  1258066467\n",
       "\n",
       "[90 rows x 5 columns]"
      ]
     },
     "execution_count": 79,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Dropping last 2 columns of DOGE \n",
    "doge_new_df = doge_df.drop(columns=['Stock Splits','Dividends'], axis=1)\n",
    "print(\"DOGE-USD update:\")\n",
    "print(\"---------------\")\n",
    "doge_new_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 80,
   "id": "4a7336bd-a95b-4d37-b2af-e2217e63a46e",
   "metadata": {},
   "outputs": [],
   "source": [
    "# ETH-USD csv file\n",
    "doge_new_df.to_csv('DOGE-USD.csv',float_format='%.2f') "
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 81,
   "id": "6601f670-71eb-47e3-b5a7-ade1a8fbcaa8",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Symbol</th>\n",
       "      <th>Name</th>\n",
       "      <th>Last Price</th>\n",
       "      <th>Change</th>\n",
       "      <th>% Change</th>\n",
       "      <th>Volume</th>\n",
       "      <th>Intraday High/Low</th>\n",
       "      <th>52 Week Range</th>\n",
       "      <th>Day Chart</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>^GSPC</td>\n",
       "      <td>S&amp;P 500</td>\n",
       "      <td>4146.87</td>\n",
       "      <td>-153.30</td>\n",
       "      <td>-3.56%</td>\n",
       "      <td>2.87B</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>^DJI</td>\n",
       "      <td>Dow Jones Industrial Average</td>\n",
       "      <td>32997.97</td>\n",
       "      <td>-1063.09</td>\n",
       "      <td>-3.12%</td>\n",
       "      <td>448.419M</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>^IXIC</td>\n",
       "      <td>NASDAQ Composite</td>\n",
       "      <td>12317.69</td>\n",
       "      <td>-647.16</td>\n",
       "      <td>-4.99%</td>\n",
       "      <td>4.392B</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>^NYA</td>\n",
       "      <td>NYSE COMPOSITE (DJ)</td>\n",
       "      <td>15652.61</td>\n",
       "      <td>-467.00</td>\n",
       "      <td>-2.90%</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>^XAX</td>\n",
       "      <td>NYSE AMEX COMPOSITE INDEX</td>\n",
       "      <td>4237.14</td>\n",
       "      <td>-85.93</td>\n",
       "      <td>-1.99%</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "  Symbol                          Name  Last Price   Change % Change  \\\n",
       "0  ^GSPC                       S&P 500     4146.87  -153.30   -3.56%   \n",
       "1   ^DJI  Dow Jones Industrial Average    32997.97 -1063.09   -3.12%   \n",
       "2  ^IXIC              NASDAQ Composite    12317.69  -647.16   -4.99%   \n",
       "3   ^NYA           NYSE COMPOSITE (DJ)    15652.61  -467.00   -2.90%   \n",
       "4   ^XAX     NYSE AMEX COMPOSITE INDEX     4237.14   -85.93   -1.99%   \n",
       "\n",
       "     Volume  Intraday High/Low  52 Week Range  Day Chart  \n",
       "0     2.87B                NaN            NaN        NaN  \n",
       "1  448.419M                NaN            NaN        NaN  \n",
       "2    4.392B                NaN            NaN        NaN  \n",
       "3         0                NaN            NaN        NaN  \n",
       "4         0                NaN            NaN        NaN  "
      ]
     },
     "execution_count": 81,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# retreiving Index tickers\n",
    "stock_indices = pd.read_html(requests.get('https://finance.yahoo.com/world-indices/').text)\n",
    "major_Stock = stock_indices[0]\n",
    "major_Stock.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 82,
   "id": "e0a7766b-fb25-4f71-82b5-0e5b9cd771ec",
   "metadata": {},
   "outputs": [],
   "source": [
    "#Collecting S&P500 indice\n",
    "sp_data = yf.Ticker('^GSPC')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 83,
   "id": "5ecb4231-501f-4bcc-a1b8-8fba2298ee88",
   "metadata": {},
   "outputs": [],
   "source": [
    "# sp500 date range\n",
    "sp500_df = sp_data.history(period='2mo', start='2022-02-05', end='2022-05-05')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 84,
   "id": "2874f4f4-cbaf-4e9b-801e-b57c0ca2e9b4",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "S&P500 data frame from: April 20, 20220 - May 05, 2022\n",
      "-----------------------------------------------------\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Open</th>\n",
       "      <th>High</th>\n",
       "      <th>Low</th>\n",
       "      <th>Close</th>\n",
       "      <th>Volume</th>\n",
       "      <th>Dividends</th>\n",
       "      <th>Stock Splits</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Date</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>2022-02-07</th>\n",
       "      <td>4505.750000</td>\n",
       "      <td>4521.859863</td>\n",
       "      <td>4471.470215</td>\n",
       "      <td>4483.870117</td>\n",
       "      <td>3291600000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-08</th>\n",
       "      <td>4480.020020</td>\n",
       "      <td>4531.319824</td>\n",
       "      <td>4465.399902</td>\n",
       "      <td>4521.540039</td>\n",
       "      <td>3509330000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-09</th>\n",
       "      <td>4547.000000</td>\n",
       "      <td>4590.029785</td>\n",
       "      <td>4547.000000</td>\n",
       "      <td>4587.180176</td>\n",
       "      <td>3662810000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-10</th>\n",
       "      <td>4553.240234</td>\n",
       "      <td>4588.919922</td>\n",
       "      <td>4484.310059</td>\n",
       "      <td>4504.080078</td>\n",
       "      <td>4490500000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-11</th>\n",
       "      <td>4506.270020</td>\n",
       "      <td>4526.330078</td>\n",
       "      <td>4401.410156</td>\n",
       "      <td>4418.640137</td>\n",
       "      <td>4164960000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                   Open         High          Low        Close      Volume  \\\n",
       "Date                                                                         \n",
       "2022-02-07  4505.750000  4521.859863  4471.470215  4483.870117  3291600000   \n",
       "2022-02-08  4480.020020  4531.319824  4465.399902  4521.540039  3509330000   \n",
       "2022-02-09  4547.000000  4590.029785  4547.000000  4587.180176  3662810000   \n",
       "2022-02-10  4553.240234  4588.919922  4484.310059  4504.080078  4490500000   \n",
       "2022-02-11  4506.270020  4526.330078  4401.410156  4418.640137  4164960000   \n",
       "\n",
       "            Dividends  Stock Splits  \n",
       "Date                                 \n",
       "2022-02-07          0             0  \n",
       "2022-02-08          0             0  \n",
       "2022-02-09          0             0  \n",
       "2022-02-10          0             0  \n",
       "2022-02-11          0             0  "
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Open</th>\n",
       "      <th>High</th>\n",
       "      <th>Low</th>\n",
       "      <th>Close</th>\n",
       "      <th>Volume</th>\n",
       "      <th>Dividends</th>\n",
       "      <th>Stock Splits</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Date</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>2022-04-28</th>\n",
       "      <td>4222.580078</td>\n",
       "      <td>4308.450195</td>\n",
       "      <td>4188.629883</td>\n",
       "      <td>4287.500000</td>\n",
       "      <td>3969440000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-04-29</th>\n",
       "      <td>4253.750000</td>\n",
       "      <td>4269.680176</td>\n",
       "      <td>4124.279785</td>\n",
       "      <td>4131.930176</td>\n",
       "      <td>3943480000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-02</th>\n",
       "      <td>4130.609863</td>\n",
       "      <td>4169.810059</td>\n",
       "      <td>4062.510010</td>\n",
       "      <td>4155.379883</td>\n",
       "      <td>4474060000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-03</th>\n",
       "      <td>4159.779785</td>\n",
       "      <td>4200.100098</td>\n",
       "      <td>4147.080078</td>\n",
       "      <td>4175.479980</td>\n",
       "      <td>3877530000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-04</th>\n",
       "      <td>4181.180176</td>\n",
       "      <td>4307.660156</td>\n",
       "      <td>4148.910156</td>\n",
       "      <td>4300.169922</td>\n",
       "      <td>4236210000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                   Open         High          Low        Close      Volume  \\\n",
       "Date                                                                         \n",
       "2022-04-28  4222.580078  4308.450195  4188.629883  4287.500000  3969440000   \n",
       "2022-04-29  4253.750000  4269.680176  4124.279785  4131.930176  3943480000   \n",
       "2022-05-02  4130.609863  4169.810059  4062.510010  4155.379883  4474060000   \n",
       "2022-05-03  4159.779785  4200.100098  4147.080078  4175.479980  3877530000   \n",
       "2022-05-04  4181.180176  4307.660156  4148.910156  4300.169922  4236210000   \n",
       "\n",
       "            Dividends  Stock Splits  \n",
       "Date                                 \n",
       "2022-04-28          0             0  \n",
       "2022-04-29          0             0  \n",
       "2022-05-02          0             0  \n",
       "2022-05-03          0             0  \n",
       "2022-05-04          0             0  "
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "source": [
    "# viewing sp500 df\n",
    "print(\"S&P500 data frame from: April 20, 20220 - May 05, 2022\")\n",
    "print(\"-----------------------------------------------------\")\n",
    "display(sp500_df.head())\n",
    "display(sp500_df.tail())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 85,
   "id": "d29eac1d-c636-4b43-9049-dcf313bb36e0",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Open</th>\n",
       "      <th>High</th>\n",
       "      <th>Low</th>\n",
       "      <th>Close</th>\n",
       "      <th>Volume</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Date</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>2022-02-07</th>\n",
       "      <td>4505.750000</td>\n",
       "      <td>4521.859863</td>\n",
       "      <td>4471.470215</td>\n",
       "      <td>4483.870117</td>\n",
       "      <td>3291600000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-08</th>\n",
       "      <td>4480.020020</td>\n",
       "      <td>4531.319824</td>\n",
       "      <td>4465.399902</td>\n",
       "      <td>4521.540039</td>\n",
       "      <td>3509330000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-09</th>\n",
       "      <td>4547.000000</td>\n",
       "      <td>4590.029785</td>\n",
       "      <td>4547.000000</td>\n",
       "      <td>4587.180176</td>\n",
       "      <td>3662810000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-10</th>\n",
       "      <td>4553.240234</td>\n",
       "      <td>4588.919922</td>\n",
       "      <td>4484.310059</td>\n",
       "      <td>4504.080078</td>\n",
       "      <td>4490500000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-11</th>\n",
       "      <td>4506.270020</td>\n",
       "      <td>4526.330078</td>\n",
       "      <td>4401.410156</td>\n",
       "      <td>4418.640137</td>\n",
       "      <td>4164960000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-04-28</th>\n",
       "      <td>4222.580078</td>\n",
       "      <td>4308.450195</td>\n",
       "      <td>4188.629883</td>\n",
       "      <td>4287.500000</td>\n",
       "      <td>3969440000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-04-29</th>\n",
       "      <td>4253.750000</td>\n",
       "      <td>4269.680176</td>\n",
       "      <td>4124.279785</td>\n",
       "      <td>4131.930176</td>\n",
       "      <td>3943480000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-02</th>\n",
       "      <td>4130.609863</td>\n",
       "      <td>4169.810059</td>\n",
       "      <td>4062.510010</td>\n",
       "      <td>4155.379883</td>\n",
       "      <td>4474060000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-03</th>\n",
       "      <td>4159.779785</td>\n",
       "      <td>4200.100098</td>\n",
       "      <td>4147.080078</td>\n",
       "      <td>4175.479980</td>\n",
       "      <td>3877530000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-04</th>\n",
       "      <td>4181.180176</td>\n",
       "      <td>4307.660156</td>\n",
       "      <td>4148.910156</td>\n",
       "      <td>4300.169922</td>\n",
       "      <td>4236210000</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>61 rows × 5 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "                   Open         High          Low        Close      Volume\n",
       "Date                                                                      \n",
       "2022-02-07  4505.750000  4521.859863  4471.470215  4483.870117  3291600000\n",
       "2022-02-08  4480.020020  4531.319824  4465.399902  4521.540039  3509330000\n",
       "2022-02-09  4547.000000  4590.029785  4547.000000  4587.180176  3662810000\n",
       "2022-02-10  4553.240234  4588.919922  4484.310059  4504.080078  4490500000\n",
       "2022-02-11  4506.270020  4526.330078  4401.410156  4418.640137  4164960000\n",
       "...                 ...          ...          ...          ...         ...\n",
       "2022-04-28  4222.580078  4308.450195  4188.629883  4287.500000  3969440000\n",
       "2022-04-29  4253.750000  4269.680176  4124.279785  4131.930176  3943480000\n",
       "2022-05-02  4130.609863  4169.810059  4062.510010  4155.379883  4474060000\n",
       "2022-05-03  4159.779785  4200.100098  4147.080078  4175.479980  3877530000\n",
       "2022-05-04  4181.180176  4307.660156  4148.910156  4300.169922  4236210000\n",
       "\n",
       "[61 rows x 5 columns]"
      ]
     },
     "execution_count": 85,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "#drop columns \n",
    "sp500_new_df = sp500_df.drop(columns=['Stock Splits','Dividends'], axis=1)\n",
    "sp500_new_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 86,
   "id": "c9c20801-50a6-4894-ab59-f9a28c8074bd",
   "metadata": {},
   "outputs": [],
   "source": [
    "#creating sp500 csv file\n",
    "sp500_new_df.to_csv('S&P500.csv',float_format='%.2f') "
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 87,
   "id": "1785537f-15b8-4524-9dd3-38775c344307",
   "metadata": {},
   "outputs": [],
   "source": [
    "#creating nasdaq df\n",
    "nasdaq_data = yf.Ticker('^IXIC')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 88,
   "id": "76ef1a65-5582-4062-acd3-bfb3e5da75f7",
   "metadata": {},
   "outputs": [],
   "source": [
    "# nasdq date range\n",
    "nasdaq_df = nasdaq_data.history(period='2mo', start='2022-02-05', end='2022-05-05')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 89,
   "id": "56fe3969-8e98-4f50-b12b-bc0d5885573e",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "NASDAQ data frame from: Feb 02, 20220 - May 05, 2022\n",
      "----------------------------------------------------\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Open</th>\n",
       "      <th>High</th>\n",
       "      <th>Low</th>\n",
       "      <th>Close</th>\n",
       "      <th>Volume</th>\n",
       "      <th>Dividends</th>\n",
       "      <th>Stock Splits</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Date</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>2022-02-07</th>\n",
       "      <td>14118.790039</td>\n",
       "      <td>14236.309570</td>\n",
       "      <td>13974.099609</td>\n",
       "      <td>14015.669922</td>\n",
       "      <td>4253020000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-08</th>\n",
       "      <td>13984.429688</td>\n",
       "      <td>14226.480469</td>\n",
       "      <td>13934.780273</td>\n",
       "      <td>14194.450195</td>\n",
       "      <td>4277150000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-09</th>\n",
       "      <td>14368.160156</td>\n",
       "      <td>14490.719727</td>\n",
       "      <td>14330.870117</td>\n",
       "      <td>14490.370117</td>\n",
       "      <td>4713210000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-10</th>\n",
       "      <td>14228.679688</td>\n",
       "      <td>14509.559570</td>\n",
       "      <td>14118.200195</td>\n",
       "      <td>14185.639648</td>\n",
       "      <td>5191050000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-11</th>\n",
       "      <td>14213.620117</td>\n",
       "      <td>14246.700195</td>\n",
       "      <td>13733.160156</td>\n",
       "      <td>13791.150391</td>\n",
       "      <td>5222590000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                    Open          High           Low         Close  \\\n",
       "Date                                                                 \n",
       "2022-02-07  14118.790039  14236.309570  13974.099609  14015.669922   \n",
       "2022-02-08  13984.429688  14226.480469  13934.780273  14194.450195   \n",
       "2022-02-09  14368.160156  14490.719727  14330.870117  14490.370117   \n",
       "2022-02-10  14228.679688  14509.559570  14118.200195  14185.639648   \n",
       "2022-02-11  14213.620117  14246.700195  13733.160156  13791.150391   \n",
       "\n",
       "                Volume  Dividends  Stock Splits  \n",
       "Date                                             \n",
       "2022-02-07  4253020000          0             0  \n",
       "2022-02-08  4277150000          0             0  \n",
       "2022-02-09  4713210000          0             0  \n",
       "2022-02-10  5191050000          0             0  \n",
       "2022-02-11  5222590000          0             0  "
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Open</th>\n",
       "      <th>High</th>\n",
       "      <th>Low</th>\n",
       "      <th>Close</th>\n",
       "      <th>Volume</th>\n",
       "      <th>Dividends</th>\n",
       "      <th>Stock Splits</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Date</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>2022-04-28</th>\n",
       "      <td>12712.860352</td>\n",
       "      <td>12948.519531</td>\n",
       "      <td>12487.860352</td>\n",
       "      <td>12871.530273</td>\n",
       "      <td>5030570000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-04-29</th>\n",
       "      <td>12710.419922</td>\n",
       "      <td>12861.830078</td>\n",
       "      <td>12315.740234</td>\n",
       "      <td>12334.639648</td>\n",
       "      <td>4719290000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-02</th>\n",
       "      <td>12331.690430</td>\n",
       "      <td>12542.540039</td>\n",
       "      <td>12202.410156</td>\n",
       "      <td>12536.019531</td>\n",
       "      <td>4896740000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-03</th>\n",
       "      <td>12511.459961</td>\n",
       "      <td>12645.830078</td>\n",
       "      <td>12460.990234</td>\n",
       "      <td>12563.759766</td>\n",
       "      <td>4522940000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-04</th>\n",
       "      <td>12574.730469</td>\n",
       "      <td>12985.009766</td>\n",
       "      <td>12367.019531</td>\n",
       "      <td>12964.860352</td>\n",
       "      <td>5467750000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                    Open          High           Low         Close  \\\n",
       "Date                                                                 \n",
       "2022-04-28  12712.860352  12948.519531  12487.860352  12871.530273   \n",
       "2022-04-29  12710.419922  12861.830078  12315.740234  12334.639648   \n",
       "2022-05-02  12331.690430  12542.540039  12202.410156  12536.019531   \n",
       "2022-05-03  12511.459961  12645.830078  12460.990234  12563.759766   \n",
       "2022-05-04  12574.730469  12985.009766  12367.019531  12964.860352   \n",
       "\n",
       "                Volume  Dividends  Stock Splits  \n",
       "Date                                             \n",
       "2022-04-28  5030570000          0             0  \n",
       "2022-04-29  4719290000          0             0  \n",
       "2022-05-02  4896740000          0             0  \n",
       "2022-05-03  4522940000          0             0  \n",
       "2022-05-04  5467750000          0             0  "
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "source": [
    "print(\"NASDAQ data frame from: Feb 02, 20220 - May 05, 2022\")\n",
    "print(\"----------------------------------------------------\")\n",
    "display(nasdaq_df.head())\n",
    "display(nasdaq_df.tail())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 90,
   "id": "480ec5e9-c831-4311-95d0-32e320dc71d9",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Open</th>\n",
       "      <th>High</th>\n",
       "      <th>Low</th>\n",
       "      <th>Close</th>\n",
       "      <th>Volume</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Date</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>2022-02-07</th>\n",
       "      <td>14118.790039</td>\n",
       "      <td>14236.309570</td>\n",
       "      <td>13974.099609</td>\n",
       "      <td>14015.669922</td>\n",
       "      <td>4253020000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-08</th>\n",
       "      <td>13984.429688</td>\n",
       "      <td>14226.480469</td>\n",
       "      <td>13934.780273</td>\n",
       "      <td>14194.450195</td>\n",
       "      <td>4277150000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-09</th>\n",
       "      <td>14368.160156</td>\n",
       "      <td>14490.719727</td>\n",
       "      <td>14330.870117</td>\n",
       "      <td>14490.370117</td>\n",
       "      <td>4713210000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-10</th>\n",
       "      <td>14228.679688</td>\n",
       "      <td>14509.559570</td>\n",
       "      <td>14118.200195</td>\n",
       "      <td>14185.639648</td>\n",
       "      <td>5191050000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-02-11</th>\n",
       "      <td>14213.620117</td>\n",
       "      <td>14246.700195</td>\n",
       "      <td>13733.160156</td>\n",
       "      <td>13791.150391</td>\n",
       "      <td>5222590000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-04-28</th>\n",
       "      <td>12712.860352</td>\n",
       "      <td>12948.519531</td>\n",
       "      <td>12487.860352</td>\n",
       "      <td>12871.530273</td>\n",
       "      <td>5030570000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-04-29</th>\n",
       "      <td>12710.419922</td>\n",
       "      <td>12861.830078</td>\n",
       "      <td>12315.740234</td>\n",
       "      <td>12334.639648</td>\n",
       "      <td>4719290000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-02</th>\n",
       "      <td>12331.690430</td>\n",
       "      <td>12542.540039</td>\n",
       "      <td>12202.410156</td>\n",
       "      <td>12536.019531</td>\n",
       "      <td>4896740000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-03</th>\n",
       "      <td>12511.459961</td>\n",
       "      <td>12645.830078</td>\n",
       "      <td>12460.990234</td>\n",
       "      <td>12563.759766</td>\n",
       "      <td>4522940000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2022-05-04</th>\n",
       "      <td>12574.730469</td>\n",
       "      <td>12985.009766</td>\n",
       "      <td>12367.019531</td>\n",
       "      <td>12964.860352</td>\n",
       "      <td>5467750000</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>61 rows × 5 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "                    Open          High           Low         Close      Volume\n",
       "Date                                                                          \n",
       "2022-02-07  14118.790039  14236.309570  13974.099609  14015.669922  4253020000\n",
       "2022-02-08  13984.429688  14226.480469  13934.780273  14194.450195  4277150000\n",
       "2022-02-09  14368.160156  14490.719727  14330.870117  14490.370117  4713210000\n",
       "2022-02-10  14228.679688  14509.559570  14118.200195  14185.639648  5191050000\n",
       "2022-02-11  14213.620117  14246.700195  13733.160156  13791.150391  5222590000\n",
       "...                  ...           ...           ...           ...         ...\n",
       "2022-04-28  12712.860352  12948.519531  12487.860352  12871.530273  5030570000\n",
       "2022-04-29  12710.419922  12861.830078  12315.740234  12334.639648  4719290000\n",
       "2022-05-02  12331.690430  12542.540039  12202.410156  12536.019531  4896740000\n",
       "2022-05-03  12511.459961  12645.830078  12460.990234  12563.759766  4522940000\n",
       "2022-05-04  12574.730469  12985.009766  12367.019531  12964.860352  5467750000\n",
       "\n",
       "[61 rows x 5 columns]"
      ]
     },
     "execution_count": 90,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# drop columns \n",
    "nasdaq_new_df = nasdaq_df.drop(columns=['Stock Splits','Dividends'], axis=1)\n",
    "nasdaq_new_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 91,
   "id": "d9dbde69-ae4c-4a92-8148-91ec883a4861",
   "metadata": {},
   "outputs": [],
   "source": [
    "nasdaq_new_df.to_csv('NASDAQ.csv',float_format='%.2f') "
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "d6babb4c-e36b-4707-854c-3b95e25ce536",
   "metadata": {},
   "outputs": [],
   "source": []
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "459f9cf5-fd97-4471-bf1c-9f3e7dba9fd5",
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3 (ipykernel)",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.7.11"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}

NameError: name 'null' is not defined